@import "{}/node_modules/bootstrap/scss/bootstrap.scss";
@import "{}/node_modules/sweetalert2/src/sweetalert2.scss";
.motfind {
    color: lightseagreen;
}

.rm-img {
    position: absolute;
    top: -10px;
    right: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    cursor: pointer;
}

.widht-img-100px {
    position: relative;
    width: 100px;
    height: auto;
}