<div class="row" *ngIf="party">
    <div class="col-lg-6">
        <form (submit)="saveParty()">
            <label>Name</label>
            <input [disabled]="party.owner !== user?._id" class="form-control" type="text" [(ngModel)]="party.name" name="name">

            <label>Description</label>
            <input [disabled]="party.owner !== user?._id" class="form-control" type="text" [(ngModel)]="party.description" name="description">

            <label>Location</label>
            <input [disabled]="party.owner !== user?._id" class="form-control" type="text" [(ngModel)]="party.location" name="location">
            <div class="form-check">
                <label class="form-check-label">
          <input [disabled]="party.owner !== user?._id" type="checkbox" class="form-check-input" [(ngModel)]="party.public" name="public">
            Public
        </label>
            </div>
            <button [disabled]="party.owner !== user?._id" class="btn" type="submit">Save</button>

        </form>


        <parties-upload *ngIf="party.owner == user?._id" (onFileAdd)="onFileAdd($event)"></parties-upload>


        <div *ngFor="let thumb of thumbs | async" class="widht-img-100px">
            <img [src]="thumb.url" alt="party images" class="img-thumbnail">
            <div *ngIf="thumb.userId === user?._id" (click)="removeImage(thumb.originalId)" class="btn-danger rm-img">x</div>
        </div>

    </div>

    <!-- list users uninvited -->
    <div *ngIf="!party.public" class="col-lg-3">
        <h3>Users to invite:</h3>
        <ul>
            <li *ngFor="let user of users | async"> {{user.emails[0].address}} <button class="btn btn-link" (click)="invite(user)">Invite</button> </li>
        </ul>
    </div>


    <div *ngIf="isInvited" class="col-lg-3">
        <h2>Reply to the invitation</h2>
        <input class="btn btn-success" type="button" value="I'm going!" (click)="reply('yes')">
        <input class="btn btn-warning" type="button" value="Maybe" (click)="reply('maybe')">
        <input class="btn btn-danger" type="button" value="No" (click)="reply('no')">
    </div>

</div>