.parties-update-container {
    margin: 10px 0px;
}

.file-is-over {
    background-color: #5bc0de;
}

.file-is-not-over {
    background-color: #ebcccc;
}

.file-uploading {
    background-color: #5cb85c;
}

.txt_drop_file {
    padding: 50px;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
}