<div class="row" style="margin-top: 20px;">

    <div class="col-lg-3">

        <parties-form></parties-form>

    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-12">
                <div class="input-group">
                    <input class="form-control" type="text" #searchtext placeholder="Search by Location">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button" (click)="search(searchtext.value)">Search</button>
                    </span>
                </div>
            </div>

        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-lg-12">
                <select class="form-control" #sort (change)="changeSortOrder(sort.value)">
                    <option value="1" selected>Ascending</option>
                    <option value="-1">Descending</option>
                </select>
            </div>
        </div>


        <div style="margin-top: 20px;">
            <div class="card" *ngFor="let party of parties | async">
                <div class="card-block">
                    <h4 class="card-title">{{party.name}}</h4>
                    <h6 class="card-subtitle mb-2 text-muted" [innerHtml]="party.location | smc:searchtext.value"></h6>
                    <p class="card-text">{{party.description}}</p>
                    <a href="#" [routerLink]="['/party', party._id]" class="card-link">Show</a>
                    <a *ngIf="party.owner === user?._id" href="#" class="card-link" (click)="remove(party)">Remove</a>
                </div>
                <div class="card-block">
                    Who is coming: Yes - {{party | rsvp:'yes'}} Maybe - {{party | rsvp:'maybe'}} No - {{party | rsvp:'no'}}
                </div>
            </div>
            <pagination-controls (pageChange)="onPageChanged($event)"></pagination-controls>
        </div>





    </div>
</div>